@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.cards{
    padding: 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff8f8;
    padding: 50px;
}
.card{
    
    position: relative;
    width: 320px;
    height: 420px;
    background: #e47571;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;

}
.card:before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background:  rgb(255, 255, 255);
    transform: skewY(345deg);
    transition: 0.5s;
    
}
.card:hover::before{
    transform: skewY(390deg);
    top: -70%;
}
.card::after{
    content: 'AXOL';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 560;
    font-size: 7.9em;
    color: rgba(0, 0, 0, 0.1);
}
.card .imgBx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .imgBx img{
    max-width: 80%;
    transition: 0.5s;
}
.card:hover .imgBx img{
    max-width: 70%;
}
.card .contentBx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:1;

}
.card .contentBx h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .contentBx .price{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.card .contentBx .buy{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: rgb(83, 47, 47);
    text-decoration: none;
    background:  rgb(255, 255, 255);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .contentBx .buy{
    top: 0px;
    opacity: 1;
}

.card2{
    
    position: relative;
    width: 320px;
    height: 420px;
    background: #b86b68;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;

}
.card2:before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background:  rgb(255, 255, 255);
    transform: skewY(345deg);
    transition: 0.5s;
    
}
.card2:hover::before{
    transform: skewY(390deg);
    top: -70%;
}
.card2::after{
    content: 'AXOL';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 560;
    font-size: 7.9em;
    color: rgba(0, 0, 0, 0.1);
}
.card2 .imgBx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card2 .imgBx img{
    max-width: 80%;
    transition: 0.5s;
}
.card2:hover .imgBx img{
    max-width: 70%;
}
.card2 .contentBx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:1;

}
.card2 .contentBx h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card2 .contentBx .price{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.card2 .contentBx .buy{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: rgb(83, 47, 47);
    text-decoration: none;
    background:  rgb(255, 255, 255);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card2:hover .contentBx .buy{
    top: 0px;
    opacity: 1;
}




.card3{
    
    position: relative;
    width: 320px;
    height: 420px;
    background: #7c504f;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;

}
.card3:before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background:  rgb(255, 255, 255);
    transform: skewY(345deg);
    transition: 0.5s;
    
}
.card3:hover::before{
    transform: skewY(390deg);
    top: -70%;
}
.card3::after{
    content: 'AXOL';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 560;
    font-size: 7.9em;
    color: rgba(0, 0, 0, 0.1);
}
.card3 .imgBx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card3 .imgBx img{
    max-width: 80%;
    transition: 0.5s;
}
.card3:hover .imgBx img{
    max-width: 70%;
}
.card3 .contentBx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:1;

}
.card3 .contentBx h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card3 .contentBx .price{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.card3 .contentBx .buy{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: rgb(83, 47, 47);
    text-decoration: none;
    background:  rgb(255, 255, 255);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card3:hover .contentBx .buy{
    top: 0px;
    opacity: 1;
}